<%- include('../partials/head.ejs') %>
<main>
    <form action="/q1" method="POST" id="enquete">
        <input type="hidden" name="state" value="q1">
        <input type="hidden" name="uuid" id="uuid" value="<%= user.uuid %>">
<div class="fieldset-container">
        <fieldset id="fieldset-intro">
            <legend>Persoonlijke gegevens</legend>
            <div class="form-group">
            <label for="fname">Voornaam:</label>
            <input type="text" name="fname" id="fname" value="<%= user.fname %>">
        </div>
        <div class="form-group">
            <label for="lname">Achternaam:</label>
            <input type="text" name="lname" id="lname" value="<%= user.lname %>">
        </div>
            <div class="form-group">
                <input type="checkbox" name="anon" id="anon" <% if(user.anon){ %>
                    checked <% } %>>
            <label for="anon">Ik blijf liever anoniem</label>
            
            </div>
            
        </fieldset>
    </div>
    <div class="button-container">
        <a href="/intro/<%= user.uuid %>" class="button button-back hidden">Terug</a><button class="button" type="submit" value="">verder</button>
    </div>
    </form>
</main>


<%- include('../partials/footer.ejs') %>