<%- include('../partials/head.ejs') %>
<main>
    <form action="/q1" method="POST">
        <input type="hidden" name="state" value="q1">
        <input type="hidden" name="uuid" id="uuid" value="<%= user.uuid %>">
<div class="fieldset-container">
        <fieldset>
            <legend>Persoonlijke gegevens</legend>

            <label for="fname">Voornaam:</label>
            <input type="text" name="fname" id="fname" value="<%= user.fname %>">
            
            <label for="lname">Achternaam:</label>
            <input type="text" name="lname" id="lname" value="<%= user.lname %>">
            
            <label for="anon">Ik blijf liever anoniem</label>
            <input type="checkbox" name="anon" id="anon" <% if(user.anon){ %>
                checked <% } %>>
            
        </fieldset>
    </div>
        <button class="button" type="submit" value="">Verder</button>
    </form>
</main>


<%- include('../partials/footer.ejs') %>