<%- include('../partials/head.ejs') %>
<main>
    <form action="/q2" method="POST">
        <progress value="1" max="9"></progress>
        <fieldset>       
            <legend>Vraag 1</legend>
            <p>Wie was je favoriete docent voor de minor?</p>
            <small>Meerdere antwoorden mogelijk</small>
            <input type="hidden" name="fname" value="<%= user.fname %>">
            <input type="hidden" name="lname" value="<%= user.lname %>">
            <input type="hidden" id="uuid" name="uuid" value="<%= user.uuid %>">
            <input type="hidden" name="state" value="2">
            <label for="Joost">Joost
                <input type="checkbox" name="favdoc" id="Joost" value="JOO5T">
            </label>
            <label for="koop">Koop
                <input type="checkbox" name="favdoc" id="koop" value="BUY">
            </label>
            <label for="Vasilis">Vasilis
                <input type="checkbox" name="favdoc" id="Vasilis" value="VaCss">
            </label>
            <input type="checkbox" name="favdoc" id="anders" value="anders">
            <label for="anders">Anders namelijk
                <input type="text" name="favdoc" id="anders">
            </label>
        </fieldset>
        <button type="submit" value="">Verder</button>
    </form>
    
</main>


<%- include('../partials/footer.ejs') %>