<%- include('../partials/head.ejs') %>
<main>
    <form action="/q2" method="POST" id="enquete">
        <progress value="1" max="9"></progress>    
            <input type="hidden" name="fname" value="<%= user.fname %>">
            <input type="hidden" name="lname" value="<%= user.lname %>">
            <input type="hidden" id="uuid" name="uuid" value="<%= user.uuid %>">
            <input id="state" type="hidden" name="state" value="q2">
            <div class="fieldset-container">
            <%- include('../partials/q1.ejs') %>
            </div>
            <div class="button-container">
                <a href="/intro/<%= user.uuid %>" class="button button-back">Terug</a><button class="button" type="submit" value="">verder</button>
            </div>
        </form>
    
</main>


<%- include('../partials/footer.ejs') %>