<%- include('../partials/head.ejs') %>
<main>
    <form action="/q2" method="POST">
        <progress value="1" max="9"></progress>
        <fieldset>       
            <legend>Vraag 1</legend>
            <p>Wie was je favoriete docent voor de minor?</p>
            <small>Meerdere antwoorden mogelijk</small>
            <input type="hidden" name="fname" value="<%= user.fname %>">
            <input type="hidden" name="lname" value="<%= user.lname %>">
            <input type="hidden" id="uuid" name="uuid" value="<%= user.uuid %>">
            <input type="hidden" name="state" value="q2">
            <label for="Joost">Joost
                <input type="checkbox" name="favdoc" id="Joost" value="JOO5T" <% if(Array.isArray(user.favdoc)){ if(user.favdoc.includes('JOO5T')){ %>
                    checked <% }} %>>
            </label>
            <label for="koop">Koop
                <input type="checkbox" name="favdoc" id="koop" value="BUY" <%  if(Array.isArray(user.favdoc)){ if(user.favdoc.includes('BUY')){ %>
                    checked <% }} %>
            </label>
            <label for="Vasilis">Vasilis
                <input type="checkbox" name="favdoc" id="Vasilis" value="VaCss" <%  if(Array.isArray(user.favdoc)){ if(user.favdoc.includes('VaCss')){ %>
                    checked <% }} %>>
            </label>
        </fieldset>
        <button type="submit" value="">Verder</button>
    </form>
    
</main>


<%- include('../partials/footer.ejs') %>