<%- include('../partials/head.ejs') %>
<main>
    <form action="/q3" method="POST">
        <progress value="3" max="9"></progress>

        <input type="hidden" name="state" value="q3">
        <input type="hidden" name="fname" value="<%= user.fname %>">
        <input type="hidden" name="lname" value="<%= user.lname %>">
        <input type="hidden" id="uuid" name="uuid" value="<%= user.uuid %>">
        <% if(Array.isArray(user.favdoc)) {%> 
            <% user.favdoc.map(doc =>{ %> 
            <input type="hidden" name="favdoc" value="<%= doc %>">
        <% })} else { %>
            <input type="hidden" name="favdoc" value="<%= user.favdoc %>">
            <% } %>   
       
        <fieldset>

            <legend>Vraag 2</legend>
            <p>Wat was je favoriete vak?</p>
            <small>Meerdere antwoorden mogelijk</small>
            <label for="CSS">CSS-to-the-recue
                <input type="checkbox" name="favcourse1" id="CSS" value="CSS" <% if(user.favcourse1 === 'CSS'){ %>
                    checked <% } %>>
            </label>
            <label for="WAFS">WAFS
                <input type="checkbox" name="favcourse2" id="WAFS" value="WAFS" <% if(user.favcourse2 === 'WAFS'){ %>
                    checked <% } %>>
            </label>
            <label for="PWA">PWA
                <input type="checkbox" name="favcourse3" id="PWA" value="PWA" <% if(user.favcourse3 === 'PWA'){ %>
                    checked <% } %>>
            </label>

        </fieldset>
        <a href="/q1/<%= user.uuid %>">Terug</a><button type="submit" value="">Verder</button>
    </form>

</main>


<%- include('../partials/footer.ejs') %>