<%- include('../partials/head.ejs') %>
<main>
    <form action="/q4" method="POST">
        <progress value="6" max="9"></progress>

        <input type="hidden" id="state" name="state" value="q4">
        <input type="hidden" name="fname" value="<%= user.fname %>">
        <input type="hidden" name="lname" value="<%= user.lname %>">
        <input type="hidden" id="uuid" name="uuid" value="<%= user.uuid %>">
        <input type="hidden" name="joost" value="<%= user.joost %>">
        <input type="hidden" name="koop" value="<%= user.koop %>">
        <input type="hidden" name="vasilis" value="<%= user.vasilis %>">
        <input type="hidden" name="PWA" value="<%= user.PWA %>">
        <input type="hidden" name="CSS" value="<%= user.CSS %>">
        <input type="hidden" name="WAFS" value="<%= user.WAFS %>">


        <div class="fieldset-container">
            <%- include('../partials/q3.ejs') %>
            </div>
        
        <div class="button-container">
            <a href="/q2/<%= user.uuid %>" class="button button-back">Terug</a><button class="button" type="submit" value="">Verder</button>
        </div> 
    </form>

</main>


<%- include('../partials/footer.ejs') %>