<%- include('../partials/head.ejs') %>
<main>
    <form action="/einde" method="POST">
        <progress value="9" max="9"></progress>
        <p>Controleer je antwoorden</p>
        <fieldset>
            <legend>Vraag 1</legend>
            <p>Wie was je favoriete docent voor de minor?</p>
            <small>Meerdere antwoorden mogelijk</small>
            <input type="hidden" name="state" value="einde">
            <input type="hidden" name="fname" value="<%= user.fname %>">
            <input type="hidden" name="lname" value="<%= user.lname %>">
            <input type="hidden" id="uuid" name="uuid" value="<%= user.uuid %>">
            <label for="Joost">Joost

                <input type="checkbox" name="favdoc" id="Joost" value="JOO5T" <% if(user.favdoc.includes('JOO5T')){ %>
                    checked <% } %>>
            </label>
            <label for="koop">Koop
                <input type="checkbox" name="favdoc" id="koop" value="BUY" <% if(user.favdoc.includes('BUY')){ %>
                    checked <% } %>>
            </label>
            <label for="Vasilis">Vasilis
                <input type="checkbox" name="favdoc" id="Vasilis" value="VaCss" <% if(user.favdoc.includes('VaCss')){ %>
                    checked <% } %>>
            </label>
        </fieldset>

        <fieldset>
            <legend>Vraag 2</legend>
            <p>Wat was je favoriete vak?</p>
            <small>Meerdere antwoorden mogelijk</small>
            <label for="Joost">CSS-to-the-recue
                <input type="checkbox" name="favcourse" id="CSS" value="CSS" <% if(user.favcourse.includes('CSS')){ %>
                    checked <% } %>>
            </label>
            <label for="WAFS">WAFS
                <input type="checkbox" name="favcourse" id="WAFS" value="WAFS" <% if(user.favcourse.includes('WAFS')){ %>
                    checked <% } %>>
            </label>
            <label for="PWA">PWA
                <input type="checkbox" name="favcourse" id="PWA" value="PWA" <% if(user.favcourse.includes('PWA')){ %>
                    checked <% } %>>
            </label>
        </fieldset>

        <fieldset>
            <legend>Vraag 3</legend>
            <p>Wat in deze minor had je liever anders gezien?</p>
            <label for="feedback">Antwoord:</label>
            <textarea name="feedback" id="feedback" cols="30" rows="10"><%= user.feedback %></textarea>
        </fieldset>

        <a href="/q3/<%= user.uuid %>">Terug</a><button type="submit" value="">Stuur enquete</button>
    </form>
</main>


<%- include('../partials/footer.ejs') %>