<%- include('../partials/head.ejs') %>
<main>
    <form action="/einde" method="POST" id="enquete">
        <input type="hidden" id="state" name="state" value="einde">
        <input type="hidden" name="fname" value="<%= user.fname %>">
        <input type="hidden" name="lname" value="<%= user.lname %>">
        <input type="hidden" id="uuid" name="uuid" value="<%= user.uuid %>">
        <progress value="9" max="9"></progress>
        <p>Controleer je antwoorden</p>
        <div class="fieldset-container">

        <%- include('../partials/q1.ejs') %>
        <%- include('../partials/q2.ejs') %>
        <%- include('../partials/q3.ejs') %>
        </div>
        <div class="button-container">
            <a href="/q3/<%= user.uuid %>" class="button button-back">Terug</a><button class="button" type="submit" value="">Stuur enquete</button>
        </div>
    </form>
</main>


<%- include('../partials/footer.ejs') %>